@import url('https://fonts.googleapis.com/css2? family= Henny+Penny & family= Tai+Heritage+Pro & display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vermelho-escuro: #6A040F;    ;
}

html{
    font-size: 62.5%;
}

body{
    display:table;
    background:url(https://as1.ftcdn.net/jpg/02/43/29/44/220_F_243294498_jfbRr9stfqmWJN8MpySM7QlCSvyf9x1j.jpg)no-repeat;
    background-size:cover;
    padding-left: 1rem;
    padding: 2rem;
    color: rgb(222, 221, 221);
}

h1 {
    font-family: 'Henny Penny', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
}

h2{
    font-size: 3rem;
}

section p {
    font-size: 2rem;
    font-family: 'Tai Heritage Pro', sans-serif;
}

.introducao  {
    margin: 6.5rem 0 6.5rem 0;
    
}

.introducao h2{
    margin-bottom: 0.5rem;
}

.introducao p {
    margin-bottom: 2.5rem;
}

.classificacao img{
    display: flex;
    width: 7rem;
}

.cartaz {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartaz img {
    width: 50rem;
}

.atores h2{
    margin-top:5rem;
    margin-bottom:5rem;
}

.atores img{
    margin: 0rem 7rem 5rem 0;
    width: 20.5rem;
}

.diretor{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;

}

.diretor h2{
    display:flex;
    align-items: center;
    justify-content: center;
}

.diretor img {
    margin-bottom: 1rem;
    width: 20.5rem;
}